* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    z-index: 1000;

}

.navBar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: white;


}

.userSearchBarWraper {
    flex-basis: 85%;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */

}


/* Search Bar */
.searchWraper {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 60%;
    margin-left: 5px;

}

.searchBox {
    display: flex;
    width: 100%;
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 6px;
    padding: 1px 0;
}

.searchBox :placeholder-shown {
    text-align: right;
    opacity: 0.6;

}

.search-btn {
    background-color: black;
    border-radius: 25px;
    width: 52px;
    height: 33px;

}

.search-btn>span>i {
    height: 5px;
    width: 10px;

}

.search-btn:hover {
    background-color: #333;
    cursor: pointer;
}

.search-btn span {
    font-size: 18px;
}

.img-search-btn {
    border: none;
    padding: 0 10px;
    background: none;
}

.searchLogo>img {
    height: 24px;
    width: 24px;
}

.searchLogo:hover {
    cursor: pointer;

}


.searchWraper input {
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 16px;
    color: #333;
    width: 85%;
    text-align: left;
}

.searchWraper input ::placeholder {
    opacity: 0.5;
}

/* END */

/*Nav User Wraper */
.userWraper {
    display: flex;
    align-items: center;
    margin-left: 80px;

}

.userWraper:hover {
    cursor: pointer;
}

.appDownload {
    display: flex;
    align-items: center;
    margin-left: 25px;
    height: 100%;
    gap: 2px;
}


.appDownload span svg {

    font-size: 32px;
}

.appDownload b {
    font-size: 12px;
    width: 150px;
    text-align: right;
    font-weight: normal;

}

.appDownload:hover {
    cursor: pointer;
}

.langWraper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 15px;
    height: 100%;
    gap: 1px;
}

.langWraper:hover {
    cursor: pointer;
}

.flag {
    margin-left: 2px;
}

.flag img {
    width: 20px;
    height: 15px;
}

.userInfoWraper {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 100%;
}

.chartWraper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.chartInfoWraper {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.chartInfoWraper :nth-child(1) {
    border-radius: 20px;
    width: 25px;
    height: 15px;
    background-color: black;
    color: white;
    font-size: 12px;
    margin: 5px 0;

}

.chartInfoWraper :nth-child(2) {
    font-size: 12px;

}

.chartLogo {
    font-size: 35px;
}

.signin {
    font-size: 20px;
    text-align: right;
    width: 90px;
}

.signin h6 {
    font-size: 12px;
}

.userLogo svg {
    font-size: 30px;
    margin: auto 5px;
}

.langArrow svg {
    font-size: 20px;
    margin: 15px 0 0 0;
    width: 18px;
}

.currency {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.currency h6 {
    font-size: 12px;
    font-weight: normal;
}



.currency h6:nth-child(2) {
    font-weight: bold;
}

/* END  */

/* Nav Right Bar Logo  */
.navLogoWarper {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 45px;
}

.menuLogo {
    border-radius: 50%;
    background-color: #f5f5f5;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    margin-right: 7px;
}

.menuLogo img {
    width: 16px;
    height: 16px;
    margin: auto;

}

.aliLogo a img {
    width: 156px;
    height: auto;
}


/* END  */
/* HEADER END */

/* Body  */
.content {
    display: flex;
    padding: 0 40px 0 50px;
    /* margin-top: 10px; */
}

.sideWraper {
    border: 1px solid rgb(235, 235, 235);
    margin-top: 32px;
    position: fixed;
    top: 70px;
    padding: 0 13px 10px 13px;

}

.sideBar {
    height: 610px;
    /* flex-basis: 23.5%; */
    /* flex-basis: 370px; */
    flex: 0 0 23.5%;
}


/* LEFTSIDE */
.storeInfo {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 15px;

}

.storeInfo>h6 {
    font-size: 14px;
}

.storePopup {
    display: flex;
    flex-direction: row-reverse;
}

.storePopup h6 {
    font-size: 14px;
    font-weight: normal;
}

.breakLine {
    border: 1px solid gray;
    margin: 10px 0;
    opacity: 0.3;
}

.storeMsg {
    opacity: 0.5;
}

.ChoiceLogo {
    background-color: #fae683;
    padding: 2px;
    font-weight: bold;
    font-size: 14px;

}


.shippingInfo {
    display: flex;
    align-items: center;
    justify-content: right;
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(60deg, #f0ffe8 10%, #fbfef9 90%);
    height: 45px;
    gap: 5px;
}

.ShippingCompany {
    color: #2abd05;
    font-weight: bold;
    font-size: 14px;
}

.deliveryInfo {
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
}

.shippingLogo {
    margin-left: 5px;
}

.deliveryTime {
    width: 90%;
}

.deliveryTime h6 {
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    margin: 5px 0;
}

.deliveryTime span {
    font-weight: normal;
    font-size: 15px;
}

.returnInfo {
    margin-top: 12px;
    display: flex;
    flex-direction: row-reverse;
}

.returnLogo {
    margin-left: 5px;
}

.returnExp {
    width: 90%;
}

.returnExp h6 {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin: 5px 0;
}


.securtyNprivicy {
    margin-top: 12px;
    display: flex;
    flex-direction: row-reverse;
}

.securtyLogo {
    margin-left: 5px;
}

.securtyExp {
    width: 90%;
}

.securtyExp h6 {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin: 5px 0;

}

.securtyInfo {
    width: 300px;
}

.securtyInfo h6 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    direction: rtl;
    font-size: 12px;
    font-weight: normal;
    opacity: 0.5;
}

.qNumber {
    display: flex;
    flex-direction: row-reverse;
}

.qInfo {
    /* margin: 7px 0; */
    font-size: 22px;
    text-align: right;
}

.buttonInfo {
    margin-top: 8px;
}

.qNumber button {
    width: 24px;
    height: 24px;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    border: none;

}

.qNumber input {
    border: none;
    font-weight: bold;
    font-size: 15px;
    width: 32px;
    margin: 0 4px;
    text-align: center;
    padding-left: 10px;


}


.qLeft {
    font-weight: lighter;
    font-size: 20px;
    margin-top: 8px;
    text-align: right;
}

.qLeft>h6 {
    font-weight: normal;
    font-size: 14px;
}

.submitButtons {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    grid-template:
        'buyNow buyNow'
        'addChart addChart'
        'likes Share';
}

.buyNow {
    font-weight: bold;
    font-size: 17px;
    border: none;
    background: #d3031c;
    color: white;
    padding: 12px 12px;
    margin-top: 12px;
    grid-area: buyNow;
}

.addChart {
    grid-area: addChart;
    font-weight: bold;
    font-size: 17px;
    border: none;
    padding: 12px 12px;
    margin-top: 12px;
    background-color: white;
    border: 1px solid black;
}

.Share {
    /* width: 90%; */
    grid-area: Share;
    font-weight: normal;
    font-size: 16px;
    border: none;
    padding: 12px 12px;
    margin-top: 12px;
    background-color: #f5f5f5;
    /* border: 1px solid black; */
    margin-left: 5px;

}

.likes {

    /* width: 90%; */
    grid-area: likes;
    font-weight: normal;
    font-size: 16px;
    border: none;
    padding: 12px 12px;
    margin-top: 12px;
    background-color: #f5f5f5;
    margin-right: 5px;
}

i.material-icons {
    margin-left: 5px;
    position: absolute;
}

/* END LEFTSIDE */


/* RIGHT BAR */

.mainSide {
    width: 23.5%;
    flex: 0 1 76.5%;
    height: 1000vb;
}

.rightUpper {
    margin-top: 70px;
    display: flex;
    height: 475px;
}

.productInfo {
    margin: 32px 0 0 23px;
    padding: 8px 16px 0 0;
    /* flex-basis: 55%; */
    flex: 0 0 55%;
}


.productTitle {
    direction: rtl;
    font-size: 7.5px;

}

.productStatus {
    direction: rtl;
    margin-top: 6px;
    font-size: 13px;
}


.productStatus::after {
    content: "text";
    animation: switch 4s infinite;
    font-weight: normal;
}

@keyframes switch {

    0%,
    49% {
        content: "2 נמכרנמכר";
        color: black;

    }

    50%,
    100% {
        content: "מאת SZCPU Store (4.2 | 10,000+ נמכרו )";
        color: #ab6d49;
    }
}


.productPrice {

    padding-top: 8px;
}

.summerRdy {
    font-size: 11px;
    color: red;
}

.summerEnd {
    display: flex;
    padding-left: 6px;
    font-size: 18px;
    font-weight: normal;
}

.priceEnd {
    padding: 9px 15px;
    background-color: #d8ffe2;
    display: flex;
    direction: rtl;
    justify-content: space-between;
}

.currentPrice {
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    direction: rtl;
}

.fixedPrice {
    font-size: 35px;
    font-weight: bold;
}

.savePrice {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    text-align: right;
}

.saveNow {
    font-weight: bold;
    font-size: 14px;
    padding: 4px 8px;
    background-color: #fef3f5;
    color: red;
}

.oldPrice {
    opacity: 0.6;
    font-size: 12px;
    text-decoration: line-through;
}

.productVat {
    color: #757575;
    font-weight: normal;
    font-size: 17px;
    direction: rtl;
}

.productColors {
    padding: 0 0 8px 0;
    direction: rtl;
    font-size: 22px;
}

.colorsImg {
    direction: rtl;
    display: flex;
}

.poductImg img {
    margin: 4px 1px 4px 0;
    height: 64px;
    width: 64px;
    border: 2px solid transparent;

}

.poductImg img:hover {
    border-color: black;
}

/* END Left Side */
/* RIGHT SIDE  */

.productImg {
    display: flex;
    text-align: right;
    /* flex-basis: 45%; */
    flex: 0 1 45%;
}

.mainImg {
    /* flex-basis: 80%; */
    flex: 0 1 86%;
    height: 450px;
    overflow: hidden;
}

.mainImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

.mainImg img:hover {
    transform: scale(1.5);
}

/* 
.mainImg img {
    height: 450px;
    width: 450px;
} */


.sideImgs {
    display: flex;
    flex: 0 0 14%;
    flex-direction: column;
    margin-left: 8px;
    gap: 5px;
}

.mainSide>.breakLine {
    margin: 32px 0;
    opacity: 0.2;
}


.procutMix {
    margin-right: 20px;
    display: flex;
    gap: 15px;
}

.productOptions {
    padding: 31px 0;
    display: flex;
    direction: rtl;
    gap: 20px;
    font-size: 22px;
    height: 84px;


}

.productOptions h6 {
    font-weight: normal;
}

.productOptions h6:first-child {
    font-weight: bold;
}

.feedback {
    direction: rtl;
    font-size: 13px;
    padding: 12px 0;
}

.otherProducts {
    direction: rtl;
    font-size: 13px;
}

.otherProducts h1 {
    padding: 14px 0;
}

.OtherProducts {
    padding: 16px;
    width: 181px;
    /* height: 402px; */
    height: 302px;
    border: 1px solid #e5e5e5;

}

.OtherProducts div:first-child img {
    height: 147px;
    width: 147px;
    /* object-fit: contain; */
}

.choiceImg .material-icons {
    margin: 86px -38px 0 0;
    font-size: 29px;
    background-color: white;
    border-radius: 25px;
    height: 48px;
    width: 48px;
    padding: 10px;
}

.OtherProducts>div:nth-child(2) img {
    height: 15.4px;
    width: 147px;
}

.OtherProducts>div:nth-child(3) h6 {
    font-weight: normal;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.OtherProducts div:nth-child(1n)>h6>span>img {
    height: 16px;
    width: 35.5px;
    margin: 0 1px 0 1px;
}

.OtherProducts>div:nth-child(4) {
    font-size: 21px;
    font-weight: bold;
    color: red;
}

.OtherProducts>div:nth-child(5) {
    font-weight: lighter;
    display: flex;
    font-size: 21px;
}

.OtherProducts>div:nth-child(5) span:nth-child(1n) img {
    width: 12px;
    height: 12px;
}

.OtherProducts>div:nth-child(6) {
    padding: 2px 0;
}

.OtherProducts>div:nth-child(6) h6 {
    color: red;
    font-weight: normal;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.OtherProducts>div:nth-child(6) h6>span img {
    height: 14px;
    width: 12px;

}

.OtherProducts>div:nth-child(7) h6 {
    color: #b37b5b;
    font-weight: normal;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.OtherProducts>div:nth-child(7) h6>span img {
    height: 16px;
    width: 16px;

}

.preview {
    font-weight: bold;
    background-color: black;
    color: white;
    margin-top: 10px;
    width: 100%;
    height: 37px;
    display: none;
    opacity: 0;
    transition: opacity 2s ease;
}

.moreInfo {
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    margin-top: 5px;
    width: 100%;
    height: 37px;
    display: none;
    opacity: 0;
    transition: opacity 2s ease;
}

.OtherProducts:hover {
    height: 402px;

}

.choiOtherProductsce:hover button {
    display: block;
    opacity: 1;
    transition: opacity 0.2s ease;
    /* Fast fade in on hover */
}







/* RIGHT BAR */
/* END BODY  */